<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.approval.mapper.ApprovalMapper">

	<!-- 상신함 List -->
	<select id="appList" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and doc.eno = #{eno}
	</select>

	<!-- 수신함 List -->
	<select id="appListRec" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename, docline.*
		from doc, dept, emp, docline
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and docline.eno = #{eno}
	</select>

	<!-- 시행함 List -->
	<select id="appListImp" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and doc.eno = #{eno}
	</select>

	<!-- 반려함 List -->
	<select id="appListRet" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and doc.eno = #{eno}
	</select>

	<!-- 참조함 List -->
	<select id="appListRef" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and doc.eno = #{eno}
	</select>

	<!-- 상신문서 불러오기 -->
	<select id="appRead" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and docNo = #{docNo}
	</select>

	<!-- 수신문서 불러오기 -->
	<select id="appReadRec" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and docNo = #{docNo}
	</select>

	<!-- 시행문서 불러오기 -->
	<select id="appReadImp" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and docNo = #{docNo}
	</select>

	<!-- 반려문서 불러오기 -->
	<select id="appReadRet" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and docNo = #{docNo}
	</select>

	<!-- 참조문서 불러오기 -->
	<select id="appReadRef" resultType="com.spring.approval.domain.ApprovalVO">
		select doc.*, dept.dname, emp.ename
		from doc, dept, emp
		where doc.dno = dept.dno
		and doc.eno = emp.eno
		and docNo = #{docNo}
	</select>

	<!-- 결재문서 작성(근태구분 및 기간 X) -->
	<insert id="appWrite1">
		insert into doc(docNo, docClass, docDate, dno, eno, docTitle, docContent)
		values(docNO('now'), #{docClass}, #{docDate}, #{dno}, #{eno}, #{docTitle}, #{docContent})
		<selectKey keyProperty="doc_seq" order="AFTER" resultType="int">
			select DOC_SEQ.currval from dual
		</selectKey>
	</insert>

	<!-- 결재문서 작성(근태구분 및 기간 O) -->
	<insert id="appWrite2">
		insert into doc(docNo, docClass, docDate, dno, eno, docTitle, docContent, docStartDate, docEndDate, docKind)
		values(docNO('now'), #{docClass}, #{docDate}, #{dno}, #{eno}, #{docTitle}, #{docContent}, #{docStartDate}, #{docEndDate}, #{docKind})
	</insert>
	
	<!-- 결재선 작성 -->
	<insert id="applineInsert">
		insert into docline(docNo, eno, doc_lineAppDate, doc_lineCategory)
		values(#{docNo}, #{eno}, sysdate, #{category})
	</insert>

	<select id="getEno" resultType="int">
		select eno from emp where ename = #{ename}
	</select>
	
	<select id="getDoclines" resultType="com.spring.approval.domain.DoclineVO">
		select dl.*, e.ename, e.position from docline dl, emp e where dl.eno = e.eno and dl.docNo = #{docNo}
	</select>
	<!-- 결재선 작성 -->
	
</mapper>