<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mail.mapper.MailBoardMapper">

	<!-- 받은 메일함 조회 -->
	<select id="mailList" resultType="com.spring.mail.domain.MailBoardVo">
		<![CDATA[
		select * from 
		(select /*+index_desc(E_MAIL PK_E_MAIL)*/ 
				 rownum rn,m_no, m_title, m_content, m_senddate, e_id, eno,m_read,m_writer,m_id
			from e_mail
			where rownum <= (#{cri.pageNum}*#{cri.amount}) and e_id=#{e_id})
			where rn > ((#{cri.pageNum}-1)*#{cri.amount}) and e_id=#{e_id}
		]]>
	</select>
	
	<!-- 페이지 나누기를 위한 총 갯수 구하기(받은 메일함) -->
	<select id="totalCnt" resultType="int">
		select count(*) from e_mail where e_id=#{e_id} and	m_no > 0 
	</select>
	
	<!-- 메일 하나 읽기 -->
	<select id="readMail" resultType="com.spring.mail.domain.MailBoardVo">
		select * from e_mail where m_no=#{m_no}
	</select>
	
	<!-- 메일을 읽을 경우 읽었는지에 대한 여부 수정-->
	<update id="readVal">
		update e_mail set m_read = #{m_read} where m_no = #{m_no}
	</update>
	
	<!-- 보낸 메일함 읽기 -->
	<select id="sendMailBox" resultType="com.spring.mail.domain.MailBoardVo">
		<![CDATA[
		select * from 
		(select /*+index_desc(E_MAIL PK_E_MAIL)*/ 
				 rownum rn,m_no, m_title, m_content, m_senddate, e_id, eno,m_read,m_writer,m_id
			from e_mail
			where rownum <= (#{cri.pageNum}*#{cri.amount}) and m_id=#{m_id})
			where rn > ((#{cri.pageNum}-1)*#{cri.amount}) and m_id=#{m_id}
		]]>
	</select>
	<!-- 보낸 메일함 총 갯수 구하기 -->
	<select id="sendTotalCnt" resultType="int">
		select count(*) from e_mail where m_id=#{m_id} and	m_no > 0 
	</select>
	
	
	<!-- 메일 쓰기 -->
	<insert id="writeMail">
		<selectKey keyProperty="m_no" order="BEFORE" resultType="int">
			select e_mail_SEQ.NEXTVAL from dual
		</selectKey>
		insert into e_mail(m_no,m_title,m_content, e_id, eno, m_read, m_writer, m_id) 
		  values(#{m_no}, #{m_title}, #{m_content}, #{e_id}, #{eno}, #{m_read}, #{m_writer}, #{m_id})
	</insert>
	
	<!-- 읽기페이지에서 메일 삭제 -->
	<delete id="deleteMail" >
		delete from e_mail where m_no=#{m_no}
	</delete>
	
	<!-- 메일 체크리스트 지우기 -->
	<delete id="deleteMailList" parameterType="java.util.List">
		delete from e_mail
			where
			<foreach collection="mNoList" item="item" separator="or" open="" close="">
				(m_no=#{item.m_no})
			</foreach>
	</delete>
	
</mapper>