<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.chat.mapper.ChatUserMsgMapper">

	<select id="chatList" resultType="com.spring.chat.domain.ChatUserMsgrVo">
		select * from chatUserMsg where chatroom_num = #{chatroom_num} order by send_date asc
	</select>

	<insert id="insertMsg">
		insert into chatUserMsg(chatroom_num,name,send_date,chat_msg,eno)
					values(#{chatroom_num},#{name},sysdate,#{chat_msg},#{eno})
	</insert>

	<select id="findUserId" resultType="com.spring.member.domain.MemberVo">
		select * from emp where eno=#{eno}
	</select>
	
</mapper>