<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.teamView.mapper.TeamMapper">

	<!-- 전체 부서 보여주기 -->
	<select id="teamList" resultType="com.spring.teamView.domain.TeamNameVo">
		<![CDATA[
		select * from 
		(select rownum rn,dno,dname,dphone from dept
			where rownum <= (#{pageNum}*#{amount}))
			where rn > ((#{pageNum}-1)*#{amount})
		]]>
	</select>
	
	<!-- 총 부서의 수 구하기 -->
	<select id="totalTeam" resultType="int">
		select count(*) from dept
	</select>
	
	<!-- 부서 추가하기 -->
	<insert id="newTeam">
		insert into dept(dno,dname,dphone) values(dept_seq.nextval,#{dname},#{dphone})
	</insert>
	
	<!-- 해당 부서번호에 따른 전체 사원 보여주기 -->
	<select id="showTeamList" resultType="com.spring.teamView.domain.TeamMemberVo">
		<![CDATA[
		select * from 
		(select rownum rn,id,position,ename,mobile,dname,dno,eno
			from (select id,position,ename,mobile,dname,e.dno,eno from emp e, dept d where e.dno=#{dno})
			where rownum <= (#{cri.pageNum}*#{cri.amount}) ) 
			where rn > ((#{cri.pageNum}-1)*#{cri.amount})
		]]>
	</select>
	
	<!-- 각부서별 인원 총 수 구하기 -->
	<select id="totalTeamCount" resultType="int">
		select count(*) from emp where dno=#{dno}
	</select>
</mapper>