<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.teamView.mapper.TeamMapper">

	<select id="teamList" resultType="com.spring.teamView.domain.TeamNameVo">
		select * from dept
	</select>
	
	<insert id="newTeam">
		insert into dept(dno,dname,dphone) values(dept_seq.nextval,#{dname},#{dphone})
	</insert>

</mapper>